@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Use this area to provide additional information.</p>

<input type="image"/>

<a href="javascript:alert('sadada')"></a>

<img width="" height="auto"/>