
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error500</title>
</head>
<body>
<b>Bir hata oluştu.Daha sonra tekrar deneyiniz.</b>
</body>
</html>
